<% if user_signed_in? %>	
<!-- 	<strong>  	 -->	
		<!-- <li class="notice"><%= notice %></li>
        <li class="lead alert"><%= alert %></li> -->
	 	<% @id = Identity.find_by(:user_id => current_user.id)%>
		<% if @id.name? %>
			<li> <%= @id.name %> </li>
			<li class="img-thumbnail"><%= image_tag("#{@id.image}") %> </li>
		<% else %>
			<li> <%= @id.email %> </li>
			<li> <%= image_tag("#{@id.image}") %> </li>
		<% end %>
	<!-- </strong>	 -->
		<li ><%=link_to 'Home', users_path%> </li>

		<li class ="active"><%=link_to 'Edit Profile', edit_user_registration_path %></li>
		
		<li ><%=link_to "Logout", destroy_user_session_path, method: :delete %></li>   
		<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#about">
  		What is Twitter Vibe?
		</button>
<%else%>
		<li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)%></li>
<%end%>  