<% if user_signed_in? %>	
<!-- 	<strong>  	 -->	
		<!-- <li class="notice"><%= notice %></li>
        <li class="lead alert"><%= alert %></li> -->
	 	<% @id = Identity.find_by(:user_id => current_user.id)%>
		<% if @id.name? %>
			<li> <%= @id.name %> </li>
			<li class="img-thumbnail"><%= image_tag("#{@id.image}") %> </li>
		<% else %>
			<li> <%= @id.email %> </li>
			<li> <%= image_tag("#{@id.image}") %> </li>
		<% end %>
	<!-- </strong>	 -->
		<button type="button" class="btn btn-primary"><%=link_to '<span class="glyphicon glyphicon-home"></span>'.html_safe, users_path%> </button>
		<button type="button" class="btn btn-primary"><%=link_to '<span class="glyphicon glyphicon-user"></span>'.html_safe, edit_user_registration_path %></button>
		<button type="button" class="btn btn-danger"><%=link_to '<span class="glyphicon glyphicon-off"></span>'.html_safe, destroy_user_session_path, method: :delete %></button>
		<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#about">
  		<span class="glyphicon glyphicon-question-sign"></span>
		</button>  
<%else%>
		
<%end%>  

