<!DOCTYPE html>
<html>
<head>
  <title>NineToFiveTherapy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</head>
<body>

	<div id="container">
		<div id="user_nav"?>
			<% if user_signed_in? %>
				Logged in as <strong> <%=current_user.email %> </strong>
				<%link_to 'Edit Profile', edit_user_registration_path %> |
				<%=link_to "Logout", destroy_user_session_path, method: :delete %>
			<%else%>
				<%= link_to "Sign Up", new_user_registration_path %> |
				<%= link_to "Login", new_user_session_path %> |
				<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
				<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>


			<% end %>
		</div>
	</div>


<%= yield %>

</body>
</html>
